@use "@angular/material" as mat;

$purple: #4a2445;
$gold: #c7a865;

$palette: (
  50: $purple,
  100: $gold,
  500: $purple,
  700: $purple,
  900: $purple,
  contrast: (
    50: #fff,
    100: $purple,
    500: #fff,
    700: #fff,
    900: #fff
  )
);

$primary: mat.define-palette($palette, 700, 500, 900);
$accent:  mat.define-palette($palette, 100);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
