<div class="hero">
  <div class="heading">
    <img class="frances-logo" src="../../assets/van_low.jpg" alt="The Frances Express van" />
  </div>
</div>

<div class="mid-section">
  <div class="wrapper">
    <h2>Helping to support</h2>
    <span class="cc-logo">
      <a href="http://curtiecares.org" target="_blank">
        <img src="../../assets/cc_logo.png" alt="Curtie Cares" />
      </a>
      <p class="heading-3">Bringing Hope to the Homebound</p>
    </span>
  </div>
</div>

<div class="info-section">
  <h2 class="text-center">Available to Rent for a Suggested Donation!</h2>
  <h3 class="heading-1 text-center color-primary mb-0">586-FRANCES</h3>
  <p class="text-center heading-2 color-primary mt-0">or 715-568-2211</p>
  <h5 class="donate-heading">
    <span class="heading-3">Donate for your ride</span>
    <a href="https://www.paypal.com/donate/?hosted_button_id=KZ8KZWZPB6A4N" target="_blank"><img src="assets/paypal.png" alt="Donate for your ride on PayPal"/></a></h5>

  <h4 class="text-center script heading-2">Serving the Chippewa Valley and beyond!</h4>
  <p class="text-center">Our vehicle is wheelchair accessible and includes a <span class="cc">volunteer</span> driver.</p>
  <ul class="services-list">
    <li>Weddings</li>
    <li>Parties</li>
    <li>Evening Out</li>
    <li>Casino Runs</li>
    <li>Airport Runs</li>
  </ul>
  <div class="photos-section container">
    <div class="row">
      <figure class="photo-col">
        <img src="assets/wheelchair.jpg" alt="Woman sitting in wheelchair talking to kids. Frances Express van in background." />
        <figcaption class="script heading-3">
          We'll get you there
        </figcaption>
      </figure>
      <figure class="photo-col">
        <img src="assets/van-inside.jpg" alt="Inside of the Frances Express." />
        <figcaption class="script heading-4">
          Room for 10 people or 8 with wheelchair
        </figcaption>
      </figure>
    </div>
  </div>
</div>
