@use "../../shared";

header {
  display: flex;
  background-color: shared.$primary;
  min-height: 64px;
  width: 100%;
}

nav {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin: 0 4px;

      a {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-flex;
        flex-grow: 1;
        padding: 1rem;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background-color: shared.$accent;
          color: shared.$primary;
        }
      }
    }
  }
}

.home-link {
  position: absolute;
  left: 2rem;
  display: flex;
  margin-right: auto;
  width: 8rem;
  border: 2px solid shared.$accent;

  @include shared.screen('tablet') {
    width: 15rem;
  }

  @include shared.screen('desktop') {
    left: 0;
    width: 20rem;
  }

  @include shared.screen('jumbo-screen') {
    width: 30rem;
  }

  img {
    width: 100%;
  }
}

.donate-link {
  a {
    background-color: white;
    display: inline-flex;
    align-items: center;
    color: shared.$primary !important;

    img {
      width: 22px;
      margin-right: 8px;
    }
  }
}
