<header>
  <div class="container">
    <a class="home-link" routerLink="/">
      <img class="frances-logo" src="../../assets/frances-express-logo-1200px.jpg" alt="The Frances Express" />
    </a>
    <nav>
      <ul>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li class="donate-link"><a href="https://www.paypal.com/donate/?hosted_button_id=KZ8KZWZPB6A4N" target="_blank"><img src="/assets/heart.svg" alt="Heart icon">Ride Donations</a></li>
      </ul>
    </nav>
  </div>
</header>
