<header>
  <div class="container">
    <a class="home-link" routerLink="/">
      <img class="frances-logo" src="../../assets/frances-express-logo-1200px.jpg" alt="The Frances Express" />
    </a>
    <div class="nav-wrapper">
      <div class="affiliate-links">
        <a href="https://curtiecares.org/" target="_blank"><img src="/assets/cc_logo.png" alt="Link to Curtie Cares website"/></a>
        <a href="https://curtie.com/" target="_blank"><img src="/assets/curtie-logo-reverse.png" alt="Link to curtie.com" /></a>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li class="donate-link"><a href="https://www.paypal.com/donate/?hosted_button_id=KZ8KZWZPB6A4N" target="_blank"><img src="/assets/heart.svg" alt="Heart icon">Ride Donations</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
